#ScanResult{
 background-color:rgb(0, 61, 106);
 color: azure;
}

#titulo{
    color: white ;
}

ion-toolbar{
    --background: rgb(0, 61, 106);
    --color:white;
    

}
ion-button {
    --color:white;
    --background: rgb(0, 61, 106);
  }

#camScan{
    position: absolute;
    bottom: 0px;
    width: 100%;
}

#videoQr{
    padding-top: 150px;
}